body {
    position: relative;
}



footer {
    text-align: center;
    
    bottom: 0 ;
    width: 100%;
    background-color: #dfeaff;
    height: 100px ;
    display: flex;
    flex-grow: 1;
}
.form-check{
    background-color: #f4f8ff;
    padding: 20px;
}