{% extends 'base.html.twig' %}

{% block title %}Ajouter une Adresse {% endblock %}

{% block content %}
    <h1 > Ajouter une  adresses </h1>

    <div class="container">

        <div class="d-flex justify-content-start">
            <a href="{{path('app_account')}}">Retour</a>
            <hr>
        </div>

      {{ form(form) }}



    </div>
{% endblock %}
